{{page-title 'Flex Dental Demo | Ember'}}

<header>
  <nav class='navbar navbar-expand'>
    <div class='container-fluid'>
      <div class='collapse navbar-collapse'>
        <ul class='navbar-nav d-flex align-items-center justify-content-center'>
          <li class='nav-item'>
            <a href='' class='nav-link active'>Ember</a>
          </li>
          <li class='nav-item'>
            <a href='' class='nav-link'>React</a>
          </li>
        </ul>
      </div>
      <button type='button' class='btn btn-primary float-right'>Sign Up</button>
    </div>
  </nav>
</header>

{{outlet}}